body{
    background:#f8f5f0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Títulos */
h2{
    color:#5D4037;
    font-weight:bold;
    text-align:center;
    margin-bottom:30px;
}

/* Tarjetas */
.card{
    border:none;
    border-radius:18px;
    overflow:hidden;
    transition:.3s;
    box-shadow:0 8px 20px rgba(0,0,0,.12);
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 30px rgba(0,0,0,.2);
}

/* Imagen */
.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

/* Contenido */
.card-body{
    padding:20px;
}

.card-title{
    color:#6D4C41;
    font-size:22px;
    font-weight:bold;
}

.card-text{
    color:#555;
    margin:15px 0;
    line-height:1.6;
}

/* Precio */
.text-success{
    color:#8B4513 !important;
    font-size:28px;
    font-weight:bold;
}

/* Promociones */
.badge{
    font-size:14px;
    padding:10px 15px;
    border-radius:20px;
}

.bg-danger{
    background:#d84315 !important;
}

/* Separador */
hr{
    border:0;
    height:3px;
    background:#8B4513;
    width:120px;
    margin:60px auto;
    border-radius:20px;
}

/* Responsive */
@media(max-width:768px){

    .card img{
        height:200px;
    }

    .card-title{
        font-size:20px;
    }

    .text-success{
        font-size:24px;
    }

}