body{
    background:#f5f5f5;
    font-family:'Segoe UI',sans-serif;
}

.perfil-card{
    max-width:500px;
    margin:60px auto;
    background:#fff;
    padding:40px;
    border-radius:18px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,.1);
}

.perfil-card h2{
    color:#6F4E37;
    margin-bottom:25px;
    font-weight:bold;
}

.perfil-info h3{
    color:#333;
    font-size:30px;
    margin-bottom:10px;
}

.perfil-info p{
    color:#555;
    font-size:17px;
    margin-bottom:15px;
}

.perfil-info strong{
    color:#6F4E37;
}

hr{
    margin:25px 0;
}

.botones{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-top:25px;
}

.btn-editar,
.btn-salir{
    text-decoration:none;
    padding:12px 22px;
    border-radius:10px;
    color:white;
    font-weight:bold;
    transition:.3s;
}

.btn-editar{
    background:#6F4E37;
}

.btn-editar:hover{
    background:#4E342E;
    color:white;
}

.btn-salir{
    background:#dc3545;
}

.btn-salir:hover{
    background:#bb2d3b;
    color:white;
}